<div class="error-container container text-center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h2 class="error-message mt-3">Page Not Found....</h2>
      <div class="error-image mt-3">
        <img
          src="assets/images/error-404.gif"
          alt="Error 404 GIF"
          class="img-fluid"
        />
      </div>
      <h5 class="return-home mt-3">Return to Home</h5>
      <a href="#">
        <button class="home-button btn btn-primary mt-2">Home</button>
      </a>
    </div>
  </div>
</div>
